body{
    background-color: #dedede;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    margin-left: 100%;
    margin-bottom: 15px;
}
.media-object{
    height:64px;
    width:64px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.footer {
    text-align: center;
    font-size: 12px;
    color: #666;;
    padding: 0 0 15px 0;
}
.profile .selection{
    margin-top: 15px;
}
